.login-div {
    position: relative;
    top: 120px;
    padding-bottom: 50px;
}

.register-form-div {
    background-color: rgb(199, 199, 199);
    border-radius: 20px;
    margin: 20px auto 0;
    width: 35vw;    
}
  
  .sign-up {
    padding-top: 20px;
    margin-bottom: 15px;
    text-align: center;
  }

  .form-container {
      width: 200px;
      margin: auto;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }

  .register-form input, textarea, select {
    background-color:rgb(255, 255, 255);
    border: 0;
    height: 25px;
    padding-bottom: -10px;
    width: 200px;
  }

  input:focus, textarea {
    outline: none !important;
  }

  .sign-up-form label {
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: -8px;
  }
  
  
  p button[type="submit"]{
    border-radius: 3px;
    margin-top: 20px;
  }
  
  .small-font {
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -10px;
  }